/* --------------------------------------------- */
/* --------------------------------------------- */
/* |                                           | */
/* |           Font Icons of icomoon           | */
/* |                                           | */
/* --------------------------------------------- */
/* --------------------------------------------- */

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?nc5lil');
  src:  url('../../fonts/icomoon.eot?nc5lil#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?nc5lil') format('truetype'),
    url('../../fonts/icomoon.woff?nc5lil') format('woff'),
    url('../../fonts/icomoon.svg?nc5lil#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\e900";
}
.icon-comment:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}



/* --------------------------------------------- */
/* --------------------------------------------- */
/* |                                           | */
/* |               DESKTOP FIRST               | */
/* |                                           | */
/* --------------------------------------------- */
/* --------------------------------------------- */


/* -------------- */
/* General Styles */
/* -------------- */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h2 {
  color: #1D78F9;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

hr {
  display: block;
}

.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

/* ---------------- */
/* Hamburger button */
/* ---------------- */
.burger-button {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(29, 37, 44, .8);
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 15px;
  color: white;
}


/* ------ */
/* Header */
/* ------ */
.header {
  background-color: #1D252C;
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px;

  -webkit-box-shadow: 0px 10px 10px -6px #000000; 
  box-shadow: 0px 10px 10px -6px #080808;
  position: relative;
  z-index: 1;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header ol li {
  height: inherit;
}

.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.header a:hover {
  font-weight: bold;
}

.logo-wrapper {
  height: inherit;
  display: flex;
  align-items: center;
}

.logo-wrapper span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  letter-spacing: 2px;
  font-family: 'Source Sans Pro', system-ui;
}

.logo img {
  vertical-align: middle;
}

figure {
  margin: 0;
}


/* ---------- */
/* Blog posts */
/* ---------- */
.posts-list {
  padding: 20px;
  background-color: #f6f6f6;
}

.post {
  position: relative;
  background-color: white;
  padding: 20px;
  border: solid 1px white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.post:hover {
  border-color: #a6a6a6;
}

.post-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: black;
  text-decoration: none;
}

.post-title {
  font-size: 16px;
  margin: 0
}

.post-extract {
  color: #3a3c3f;
}

.post-meta {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #696969;
}

.post-meta i {
  margin-right: 3px;
}

.post-author,
.post-date,
.post-coments {
  margin-right: 20px;
  margin-top: 10px;
}

.post-author {
  display: flex;
  align-items: center;
}

.author-img-wrapper img {
  border-radius: 50px;
  vertical-align: middle;
  margin-right: 7px;
}

/* ------- */
/* Contact */
/* ------- */
.contact {
  padding: 20px;
  background-color: #1b2127;
  color: white;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .container {
  border-bottom: 2px solid white;
}

.contact h3 {
  color: white;
  font-family: 'Source Sans Pro', system-ui;
  font-weight: bold;
  font-size: 24px;
}

.social-wrapper, .form-contact {
  width: 50%;
  text-align: center;
}

.social-networks-title {
  margin-top: 0;
}

.input-fields-wraper {
  display: flex;
}

#email, #name {
  width: 50%;
}

#email, #name, #message {
  display: block;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-family: 'Source Sans Pro', system-ui;
  font-size: 15px;
  /* background-image: url('../../img/home/envelope.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px; */
}

#email {
  margin-left: 15px;
}

#message {
  height: 65px;
  resize: none;
  width: calc(100% - 30px);
}

#email, #name, #message:focus {
  outline: none;

}

.form-contact button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background: transparent;
  color: white;
  border: 1px solid;
  border-radius: 3px;
  padding: 15px 0;
  width: 200px;
  font-weight: bold;
  text-transform: uppercase;
}

.social-link {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 10px;
  background-size: 70px 70px;
}

.social-link.twitter {
  background-image: url('../../img/twitter.svg');
}

.social-link.facebook {
  background-image: url('../../img/facebook.svg');
}

.social-link.github {
  background-image: url('../../img/github.svg');
}

.social-link.instagram {
  background-image: url('../../img/instagram.svg');
}


/* ------ */
/* Footer */
/* ------ */
.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coded-by {
  margin: 40px 0;
}

.footer a {
  color: white;
  font-weight: bold;
  font-style: italic;
}




/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* |                                             | */
/* |              RESPONSIVE DESIGN              | */
/* |                                             | */
/* ----------------------------------------------- */
/* ----------------------------------------------- */


/* ------------------------------------ */
/* Breakpoint: tablets (768px - 1024px) */
/* ------------------------------------ */

@media screen and (max-width: 1023px) {
  
}

@media screen and (max-width: 950px) {
  .post-extract {
    font-size: 14px;
  }
}

@media screen and (max-width: 850px) {
  /* ------------------ */
  /* Contact responsive */
  /* ------------------ */
  .social-link {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }
}

@media screen and (max-width: 767px) {
  /* ---------------- */
  /* Hamburger button */
  /* ---------------- */
  .burger-button {
    display: block;
  }


  /* ----------------- */
  /* Header responsive */
  /* ----------------- */
  .header {
    display: block;
    height: auto;
  }

  .header ol {
    display: block;
  }

  .header ol li {
    height: 50px;
  }

  .header li {
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: .9em;
    padding: 5px 50px;
  }

  .header a {
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
  }

  .header .logo-wrapper {
    padding: 10px 0;
    justify-content: center;
  }

  .menu {
    background: rgba(29, 37, 44, .93);
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }

  .menu.is-active {
    left: 0;
  }

  h1.menu-is-active {
    z-index: initial;
  }


  /* --------------------- */
  /* Blog posts responsive */
  /* --------------------- */
  .post-extract {
    display: none;
  }

  .post-title {
    margin-bottom: 6px;
  }


  /* ------------------ */
  /* Contact responsive */
  /* ------------------ */
  .contact {
    height: auto;
    display: block;
    text-align: center;
  }

  .social-link {
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
  }

  .social-wrapper, .form-contact {
    width: 100%;
    text-align: center;
  }

  .social-wrapper {
    padding: 3em 0;
  }
}


/* ---------------------------------- */
/* Breakpoint: mobile (480px - 320px) */
/* ---------------------------------- */

@media screen and (max-width: 492px) {
  /* --------------------- */
  /* Blog posts responsive */
  /* --------------------- */
  .post-coments {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /* ------------------ */
  /* Contact responsive */
  /* ------------------ */
  .social-link {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }
}

@media screen and (max-width: 369px) {
  /* ------------------ */
  /* Contact responsive */
  /* ------------------ */
  .input-fields-wraper {
    display: block;
  }

  #email, #name {
    margin-left: 0;
    width: 90%;
  }

  #message {
    width: 90%;
  }

  .social-link {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }

  .coded-by {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  /* ------------------ */
  /* Contact responsive */
  /* ------------------ */
  .social-link {
    width: 45px;
    height: 45px;
    background-size: 45px 45px;
    margin: 5px;
  }
}
