/* -------------- */
/* General Styles */
/* -------------- */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h2 {
  color: #1D78F9;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

hr {
  display: block;
}

.container {
  width: 1000px;
  margin: 0 auto;

  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
}


/* ---------- */
/* Blog posts */
/* ---------- */
.posts-list {
  padding: 20px;
  padding-top: 90px;
  background-color: #F8F9FA;
}

.post-link {
  color: black;
  text-decoration: none;
}

.post {
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 15px;
}

.post-title {
  margin: 0
}

.post-meta {
  display: flex;
  align-items: center;
  color: #696969;
}

.post-author,
.post-date,
.post-coments {
  margin-right: 20px;
}

.post-author {
  display: flex;
  align-items: center;
}

.author-img-wrapper img {
  border-radius: 50px;
  vertical-align: middle;
}

.author-name {
  text-decoration: none;
  color: #696969;
  margin-left: 10px;
}
